<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookly.io</title>
  <link rel="stylesheet" href="../static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <div class="title">
    <h2>Cookly.io</h2>
  </div>
  <div class="description">
    <h3 class="space-out">Diet Details Form</h3>

    <p class="space-out">Upload photo of your ingredients and fill out the form. Cookly.io will analyze all of the ingredients and generate you a list of meals based on your macros. Leave fields blank if limit is not required</p>

    <form id="dietForm" method="POST" enctype="multipart/form-data">
      <!--Calories input-->
      <label for="calorieInput" class="form-label space-out">Calorie Limit</label>
      <input type="text" id="calorieInput" name="calorieInput" class="form-control">
      <div id="help" class="form-text">Enter the limit of calories that you want to have</div>

      <!--Protein Input-->
      <label for="proteinInput" class="form-label space-out">Desired Protein Intake</label>
      <input type="text" id="proteinInput" name="proteinInput" class="form-control">
      <div id="help" class="form-text">Enter how much protein intake you are aiming to have</div>

      <!--Carbs Input-->
      <label for="carbsInput" class="form-label space-out">Carbohydrate Limit</label>
      <input type="text" id="carbsInput" name="carbsInput" class="form-control">
      <div id="help" class="form-text">Enter limit for carbohydrates</div>

      <!--Fats input-->
      <label for="fatsInput" class="form-label space-out">Fats Limit</label>
      <input type="text" id="fatsInput" name="fatsInput" class="form-control">
      <div id="help" class="form-text">Enter amount of fats that fit your diet</div>

      <!--People input-->
      <label for="peopleInput" class="form-label space-out">Number of people</label>
      <input type="text" id="peopleInput" name="peopleInput" class="form-control">
      <div id="help" class="form-text">Enter how many people will be eating dinner</div>
      <!--Allergies Checkboxes -->
      <label for="allergens" class="form-label space-out">Allergens</label>
      <div class="" id="allergens">
        <input type="checkbox" id="Dairy" name="Dairy">
        <label for="Dairy">Dairy</label>
        <input type="checkbox" id="Eggs" name="Eggs">
        <label for="Eggs">Eggs</label>
        <input type="checkbox" id="Fish" name="Fish">
        <label for="Fish">Fish</label>
        <input type="checkbox" id="Shellfish" name="Shellfish">
        <label for="Shellfish">Shellfish</label>
        <input type="checkbox" id="Peanuts" name="Peanuts">
        <label for="Peanuts">Peanuts</label><br>
        <input type="checkbox" id="Soy" name="Soy">
        <label for="Soy">Soy</label>
        <input type="checkbox" id="Wheat" name="Wheat">
        <label for="Wheat">Wheat</label>
        <input type="checkbox" id="Tree Nuts" name="Tree Nuts">
        <label for="Tree Nuts">Tree Nuts</label>
        <input type="checkbox" id="Sesame" name="Sesame">
        <label for="Sesame">Sesame</label>
        <input type="checkbox" id="Gluten-Free" name="Gluten-Free">
        <label for="Gluten-Free">Gluten-Free</label><br><br>
        <input type="checkbox" id="other" name="other">
        <label for="other" id="otherLabel">Other</label><br><br>
        <textarea class="" id="otherText" name="otherText" rows="2" cols="50"></textarea>


      </div>

      <!--Ingredients Image Input-->
      <div class="mb-3 space-out">
        <label for="ingredientsImage">Upload photo of your ingredients</label>
        <input class="form-control space-out" type="file" id="ingredientsImage" name="ingredientsImage">
      </div>
      <button type="button" id="analyzeImageButton" class="btn btn-outline-info space-out center">Analyze Food Items</button>
      <!--Image Loader Button-->
      <div id="imageLoader">
      <div class="d-flex justify-content-center">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      </div>

      <!--Ingredients Generated-->
      <div class="InputFieldBox">
        <label for="ingredientsTextBox">Ingredients</label>
        <div id="help" class="form-text">Analyzed Ingredients will go here or you can write out your ingredients.</div>
        <textarea class="form-control space-out" id="ingredientsTextBox" name="ingredientsTextBox" rows="10" cols="50"></textarea>
      </div>
      <button type="button" id="submitButton" class="btn btn-outline-info space-out center">Generate Meal</button>

    </form>

    <div id="mealLoader">
      <div class="d-flex justify-content-center">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    
    <div id="confirmationMessage">
      Data received successfully!
    </div>

    <div id="results">
      <h5 id="meal-name"></h5>
      <!--Ingridients-->
      <div class="card">
        <div class="card-header">Ingredients</div>
        <ul class="list-group list-group-flush" id="ingredientsList">

        </ul>
      </div>
      <!--Instructions-->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Instructions</h5>
          <p class="card-text" id="instructions"></p>
        </div>
      </div>
      <!--Notes-->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Notes</h5>
          <p class="card-text" id="notes"></p>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>